src/main/resources/ws/SecurityTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://kyc-payments.com/SecurityTypes"
           elementFormDefault="qualified">
    
    <xs:element name="Authentication">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>